code[class*="language-"],
pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: #e4e4e4;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    line-height: 1.4;
    tab-size: 4;
    hyphens: none;
    background: transparent;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

.token.punctuation {
    color: #808080;
}

.token.property,
.token.keyword,
.token.tag {
    color: #9cdcfe;
}

.token.class-name {
    color: #4ec9b0;
}

.token.boolean,
.token.constant {
    color: #569cd6;
}

.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.number {
    color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #ce9178;
}

.token.variable {
    color: #9cdcfe;
}

.token.operator {
    color: #808080;
}

.token.function {
    color: #dcdcaa;
}

/* URL and Query parameters */
.token.url {
    color: #9cdcfe;
}

.token.path {
    color: #9cdcfe;
}

.token.query {
    color: #bbcdff;
}

.token.query-delimiter {
    color: #b0c3d0;
}

/* URL query params */
.token.param-name {
    color: #bbcdff;
}

.token.param-equals {
    color: #d4d4d4;
}

.token.param-value {
    color: #a5c35b;
}

.token.query-separator {
    color: #d4d4d4;
}

/* Form data */
.token.form-param-name {
    color: #bbcdff;
}

.token.form-param-equals {
    color: #d4d4d4;
}

.token.form-param-value {
    color: #a5c35b;
}

.token.separator {
    color: #d4d4d4;
}

/* Existing styles */
.token.http-method {
    color: #c586c0;
    font-weight: 500;
}

/* Headers */

.token.header-name {
    color: #9cdcfe;
    opacity: 0.9;
}

.token.header-value {
    color: #d4d4d4;
    opacity: 0.8;
}

.token.cookie-name {
    color: #9cdcfe;
}

.token.cookie-value {
    color: #a5c35b;
}

/* HTTP Status Codes - 2xx Success */

.token.status-code-200,
.token.status-code-201 {
    color: #4ec9b0;
    font-weight: 500;
}

.token.status-text-200,
.token.status-text-201 {
    color: #4ec9b0;
    opacity: 0.9;
}

/* HTTP Status Codes - 3xx Redirection */

.token.status-code-300 {
    color: #569cd6;
    font-weight: 500;
}

.token.status-text-300 {
    color: #569cd6;
    opacity: 0.9;
}

/* HTTP Status Codes - 4xx Client Error */

.token.status-code-400 {
    color: #f97316;
    font-weight: 500;
}

.token.status-text-400 {
    color: #f97316;
    opacity: 0.9;
}

/* HTTP Status Codes - 5xx Server Error */

.token.status-code-500 {
    color: #ef4444;
    font-weight: 500;
}

.token.status-text-500 {
    color: #ef4444;
    opacity: 0.9;
}

/* JSON specific */

.token.property {
    color: #9cdcfe;
}

.token.string {
    color: #ce9178;
}

.token.number {
    color: #b5cea8;
}

.token.boolean {
    color: #569cd6;
}

.token.null {
    color: #569cd6;
    font-weight: 500;
}
